# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual env
.env
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Data (trop volumineux pour Git)
data/
Données_Brutes/
HISTDATA_COM_MT_GBPUSD_M1*/
*.zip
*.csv

# Models binaires
models/**/*.pkl
models/**/*.zip
models/**/*.h5
models/**/*.pt

# Jupyter
.ipynb_checkpoints/

# OS
Thumbs.db
.DS_Store

# Docker
docker-compose.override.yml

# Logs
*.log
tensorboard_logs/
